<div class="live-chat">
    <a href="https://wa.link/zgvwhj"><img src="images/whatsapp.svg" alt="chat in whatsapp" width="70px"></a>
</div>
<footer class="site-footer">
    <h2>Reach out to us on:</h2>
    <div class="contact-me">
       
        <a href="tel:+2349135622873">Call (+234-91)</a>
        <a href="tel:+2348105593747">Call (+234-81)</a>
        <a href="tel:+2348137829033">Call (+234-81)</a>
    </div>
    <div class="contact">
        <a href="mailto:alfirdaousislamicopenacademy@gmail.com">Send us a Mail</a>
    </div>
    <p>&copy; Al Firdaous: اكاديمية الفردوس الإسلامية المفتوحة. All rights reserved 2024  </p>
</footer>
<script>
    const menuButton = document.querySelector('#menu-btn');
    const navLinks = document.querySelector('.mobile-links-nav');
    menuButton.addEventListener('click', ()=>{
    document.getElementById('menu-btn').src = '/images/cancel.svg';
    document.querySelector('.mobile-links-nav').classList.toggle('show');
    if(!navLinks.classList.contains('show')){
        document.getElementById('menu-btn').src = '/images/menu.svg';
    }
    });
  
</script>
</body>

</html>