<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfirdaous Islamic Academy</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
</head>
<body>
    
<header class="site-container">
    <section class="nav-bar">
        <nav class="site-nav">
            <div class="logo">
                <a href="/home"> <span id="logo-img"><img src="/images/logo.svg" alt="logo" class="logo-img" width="50px"></span> Al Firdaous</a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="about">About us</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/classmode">Class modes</a></li>
                </ul>
            </div>
            <div class="cta-btns">
                <ul>
                 
                 <li id="enroll-btn"><a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Enroll now</a></li>
                </ul> 
             </div>
             <div class="mobile-links-nav">
                <div class="mob-links-nav">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="about">About us</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/classmode">Class modes</a></li>
                    </ul>
                </div>
                <div class="mob-links-btns">
                    <ul>
                     
                        <li><a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Enroll now</a></li>
                    </ul>
                </div>
               
            </div> 
            <div class="menu-btn">
                <img src="/images/menu.svg" id="menu-btn" alt="menu" width="40px">
            </div>
        </nav>
    </section>
