<%- include ('partials/header') %>

<section class="learnmore-container" id="about">
    <div class="learnmore-text">
        <h2>Al Firdaous: اكاديمية الفردوس الإسلامية المفتوحة</h2>
        <p>Al Firdaous strives to teach both young and old the essence of Islam, 
            Following The Qur'an, Sunnah and the wisdom of the pious Predecesesors. 
            Excitingly, we offer online programmes for both young and old intending learners, 
            breaking down distance barriers for knowledge.
            Our Qualified instructors lead classes covering Quran, Arabic Language, 
            Islamic Studies, Hadith, Adhkar (Rememberances), Qasas (Stories), and Tajweed.
            Our virtual lessons are crafted to be both lively and participatory, 
            showcasing live talks, insightful web sessions, and virtual classrooms. These setup foster connections with fellow learners and ensure 
            individualized assistance from our skilled instructors. The programmes are also flexible, 
            empowering you to learn at your own speed from any where around the world.</p>
        <a href="/courses">Learn More</a>
    </div>
</section>
<section class="hadith-container">
    <div class="quran">
        <h1 style="text-align: right;">Our Motto</h1>
        <h2 style="text-align: right;">
            إن الَّذِينَ آمَنُوا وَعَمِلُوا الصَّالِحَاتِ كَانَتْ لَهُمْ جَنَّاتُ الْفِرْدَوْسِ نُزُلًا﴾
            <br/>
            <span style="display: block; text-align: right;">[ الكهف: 107]</span> 


        </h2>
        <p style="text-align: right;">
            Indeed, those who have believed and done righteous deeds - they will have the Gardens of Paradise (Al Firdaous) as a lodging Q18 V 107
        </p>
    </div>
    </section>
<section class="offer-containers" id="offer">
        <h2 class="offer-h2">What We Offer</h2>
        <section class="row">
            <section class="offer one">
                <img src="/images/quran-row.svg" alt="quran" width="40px">
                <h2>Authenticity</h2>
                <p>Our principles and moral values are derived from the Quran and the sunnah of the Prophet interpreted in alignment with the understanding of the companions.
                </p>
            </section>
            <section class="offer two">
                <img src="/images/pay.svg" alt="affordable" width="40px">
                <h2>Affordability</h2>
                <p>We provide a high valued service at an afordable fee.
                </p>
            </section>
        
        <section class="offer three">
            <img src="/images/care-row.svg" alt="care" width="40px">
            <h2>Care</h2>
            <p>We value each student as an individual and we hold them at a very high esteem and not just by their names.
                We also care for their well-being physically and emotionally both inside and outside of the classroom.
                </p>
        </section>
        <section class="offer three">
            <img src="/images/teacher.svg" alt="fun" width="40px">
            <h2>Professional</h2>
            <p>At Al Firdaous Our Tutors are professionals in different disciplines and they comprise of men and women of integrity who are computer literates.
                We maintain high standards to which we strictly adhere to.
                </p>
        </section>
        <section class="offer four">
            <img src="/images/secure-row.svg" alt="secure" width="40px">
            <h2>Safe</h2>
            <p>At Al Firdaous We provide a free and conducive atmosphere where student can easily express themselves without the fear of being judged or misinterpreted.
            </p>
        </section>
        <section class="offer five">
            <img src="/images/flexibility-row.svg" alt="flexibility" width="40px">
            <h2>Flexibility</h2>
            <p>Our schedules are based on individual availabilities. For Individual classes, students  are opportuned to select their preferred days, time and even their preferred platforms for classes delivery.
            </p>
        </section>
        <section class="offer six">
            <img src="/images/fun-row.svg" alt="fun" width="40px">
            <h2>Online live and interactive session</h2>
            <p>Communicate with our lecturers, network with your fellow learners and to participate in Q&A sessions through live interactive and engaging online sessions. Digital certificates will be awarded from the Academy upon successful completion of the courses to recognise your achievement.</p>
        </section>
        
</section>
</section>
<section class="hadith-container">
    <div class="hadith">
        <h2>
        
            عَنْ عُبَادَةَ بْنِ الصَّامِتِ أَنَّ رَسُولَ اللَّهِ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ قَالَ الْجَنَّةُ مِائَةُ دَرَجَةٍ مَا بَيْنَ كُلِّ دَرَجَتَيْنِ مِنْهُمَا كَمَا بَيْنَ السَّمَاءِ وَالْأَرْضِ الْفِرْدَوْسُ أَعْلَاهَا دَرَجَةً مِنْهَا تُفَجَّرُ أَنْهَارُ الْجَنَّةِ الْأَرْبَعَةُ وَمِنْ فَوْقِهَا يَكُونُ الْعَرْشُ وَإِذَا سَأَلْتُمْ اللَّهَ فَاسْأَلُوهُ الْفِرْدَوْسَ

            2531 سنن الترمذي أبواب صفة الجنة باب ما جاء في صفة درجات الجنة
            
        </h2> 
        <p>
            Ubadah ibn al-Samit reported: The Messenger of Allah, peace and blessings be upon him, said, “Paradise has one hundred levels, and between every two levels is a distance like that between the heavens and earth. Al-Firdaws is its highest level, from which four rivers of Paradise flow, and above is the Throne. When you want to ask Allah, ask him for Al-Firdaws.”
            
            Source: Sunan al-Tirmidhī 2531
            
            Grade: Sahih (authentic) according to Al-Albani
        </p>
    </div>
   
</section>
<%- include ('partials/closingHeader') %>
<%- include ('partials/footer') %>
