<%- include('partials/header') -%>
<section class="classmodes-container">
    <h2>Class Modes</h2>
    <section class="classmode">
        <section class="individual mode">
            <img src="/images/person.svg" alt="person" width="50px">
            <h1>Individual Classes</h1>
            <ul>
               <li>✓ Qualified tutors </li> 
                <li>✓ Flexible schedule</li>
                <li>✓ More intensive and interactive</li>
                <li>✓ Full concentration</li>
                <li>✓ Monthly reports for learning progress</li>
                <li>✓ Examinations and test are conducted at intervals</li>
               <li>✓ Certificate upon completion</li>
            </ul>
        </section>
        <section class="group mode">
            <img src="/images/group.svg" alt="person" width="50px">
            <h1>Group Classes</h1>
            <ul>
             <li>✓ Intensive learning</li>
             <li>✓ Accountability partner</li>
             <li>✓ Fixed schedules</li>
             <li>✓ Interviews are conducted as a pre requisite for admission</li>
             <li>✓ Class groups is according to each person's level</li>
             <li>✓ Examinations, tests and Quizzes</li>
             <li>✓ Certificate upon completion</li>
            </ul>
        </section>
    </section>
</section>

<%- include('partials/closingHeader') -%>
<%- include('partials/footer') -%>