<%- include('partials/header') -%>
<section class="contact-section">
    <h2>Let's get in Touch</h2>
    <section class="contact">    
        <section class="meet-us">
            <div class="contact-div">
                <a href="/home"> <span id="contact-img"><img src="/images/email.svg" alt="logo" class="contact-img" width="50px"></span>Send us a Mail</a>
            </div>
            <div class="contact-div">
                <a href="/home"> <span id="contact-img"><img src="/images/call.svg" alt="logo" class="contact-img" width="50px"></span> Call us</a>
            </div>
            <div class="contact-div">
                <a href="/home"> <span id="contact-img"><img src="/images/whatcontact.svg" alt="logo" class="contact-img" width="50px"></span> For support</a>
            </div>
        </section>
        <section class="meet-us">
            <div class="contact-div">
                <a href="/home"> <span id="contact-img"><img src="/images/facebook.svg" alt="fb" class="contact-img" width="50px"></span> Facebook</a>
            </div>
            <div class="contact-div">
                <a href="/home"> <span id="contact-img"><img src="/images/instagram.svg" alt="instagram" class="contact-img" width="50px"></span> Instagram</a>
            </div>
            <div class="contact-div">
                <a href="/home"> <span id="contact-img"><img src="/images/youtube.svg" alt="youtube" class="contact-img" width="50px"></span> Youtube</a>
            </div>
        </section>
    </section>
    

</section>
<%- include('partials/closingHeader') -%>
<%- include('partials/footer') -%>