<%- include ('partials/header') %>
<section class="courses-container" id="courses-section">
    <section class="courses-mode">
        <span id="courses-span"> Our Programs are for Both Adults and Children</span>
        <h2 class="ourprogram">Group Classes</h2>
         <section class="programs">
            <section class="program">
                <div class="firstprogram-section">
   
                    <span id="program-title"><STROng>AHKI</STROng></span>
                    <h1>Beginner</h1>
                    <p style="font-family: Light; font-size: 0.875rem; text-align: center;">For kids( A Minimum of 5 students in each class)</p>
                </div>
               
                <div class="program-details">
                    <span class="program-price">$10<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>Arabic Literacy</li>
                            <li>Hadith</li>
                            <li>Khattu</li>
                            <li>Islamic studies</li>
                            <br>
                            
                        </ul>
                        <div class="time">
                            <p><strong>$100</strong> Annually. Duration: 10 Months</p>
                            <p>Thursday/Friday: 7:00PM GMT</p>
                            <p>Saturday and Sunday: 10:00AM GMT</p>
                           
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <span id="program-title"><STROng>QATHI</STROng></span>
                    <h1>Intermediate</h1>
                    <p style="font-family: Light; font-size: 0.875rem; text-align: center;">For kids( A Minimum of 5 students in each class)</p>
                </div>
              
                <div class="program-details">
                    <span class="program-price">$15<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>Quran</li>
                            <li>Arabic Language</li>
                            <li>Tahjweed</li>
                            <li>Hadith</li>
                            <li>Imlaa/Islamic studies</li>
                        </ul>
                        <div class="time">
                            <p><strong>$150</strong> Annually; Duration: 10 Months</p>
                            <p>Thursday/Friday: 7:00PM GMT</p>
                            <p>Saturday and Sunday: 10:00AM GMT</p>
                          
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <span id="program-title"><STROng>QANTTAH</STROng></span>
                    <h1>Advanced</h1>
                    <p style="font-family: Light; font-size: 0.875rem; text-align: center;">For kids( A Minimum of 5 students in each class)</p>
                </div>
                <div class="program-details">
                    <span class="program-price">$20<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>Quran</li>
                            <li>Aqeedah</li>
                            <li>Non vowelised Arabic words</li>
                            <li>Tafseer</li>
                            <li>Tajweed</li>
                            <li>Arabic Language</li>
                            <li>Hadith</li>
                        </ul>
                        <div class="time">
                            <p><strong>$200</strong> Annually; Duration: 10 Months</p>
                            <p>Thursday/Friday: 7:00PM GMT</p>
                            <p>Saturday and Sunday: 10:00AM GMT</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
    </section>
   
     </section>
     
</section>
<section class="courses-container" id="courses-section">
    <section class="courses-mode">
        <h2 class="ourprogram">Individual Classes</h2>
         <section class="programs">
            <section class="program">
                <div class="firstprogram-section">
                    <h1>QAAITH</h1>
                </div>
                <div class="program-details">
                    <span class="program-price">$60<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QUR'AN</li>
                            <li>ARABIC LITERACY</li>
                            <li>ADHKAR</li>
                            <li>ISLAMIC STUDIES</li>
                            <li>TAJWEED</li>
                            <li>HADITH</li>
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>      
                            <p><strong>4 Days Weekly</strong></p>
                            <p><strong>$600</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>QAAITH</h1>
                </div>
                <div class="program-details">
                    <span class="program-price">$50<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QUR'AN</li>
                            <li>ARABIC LITERACY</li>
                            <li>ADHKAR</li>
                            <li>ISLAMIC STUDIES</li>
                            <li>TAJWEED</li>
                            <li>HADITH</li>
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>3 Days Weekly</strong></p>
                            <p><strong>$500</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>QATI</h1>
                    </div>
                <div class="program-details">
                    <span class="program-price">$30<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QUR'AN</li>
                            <li>ADHKAR</li>
                            <li>TAJWEED</li>
                            <li>ISLAMIC STUDIES</li>
                            <br>
                            <br>
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>Weekend Classes</strong></p>
                            <p><strong>$300</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>HIFZ ONLY</h1>
                    </div>
                <div class="program-details">
                    <span class="program-price">$40<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QURAN</li>
                            <li>TAJWEED</li>
                            <li>ISLAMIC STUDIES</li>
                            <br>
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>4 times weekly</strong></p>
                            <p><strong>$400</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>HIFZ ONLY</h1>
                    </div>
                <div class="program-details">
                    <span class="program-price">$30<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QURAN</li>
                            <li>TAJWEED</li>
                            <li>ISLAMIC STUDIES</li>
                            <br>
                          
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>3 times weekly</strong></p>
                            <p><strong>$300</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>WEEKEND HIFZ</h1>
                    </div>
                <div class="program-details">
                    <span class="program-price">$25<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QURAN</li>
                            <li>TAJWEED</li>
                            <br>
                          
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>3 times weekly</strong></p>
                            <p><strong>$250</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
   
    </section>
    
     </section>
     
</section>
<section class="note">
    <span id="courses-span-one">
        Note: The tajweed is slashed with Arabic Literacy for kids and the knowledge of tajweed for adults who already has an experience on how to recite the Quran.
        Student are also given the opportunity to select their preferred times ,days and even the social media platforms of their Choices for the delivery of the class.
    </span>
</section>
<%- include ('partials/closingHeader') %>
<%- include ('partials/footer') %>
