<%- include ('partials/header') %>
<section class="text-container">
    <div class="intro-text">
        <h2>Al Firdaous: A Vibrant Academy for every young and old Muslim across the globe.
            <span><img src="/images/quran.svg" alt="quran" width="30px"></span></h2>
    </div>
    
    <div class="intro-img-container">
        <div class="left introimg">
            <img src="/images/img1.jpg" alt="quran-img">
        </div>
         <div class="center introimg">
            <img src="/images/img2.jpg" alt="quran-img">
        </div>
        <div class="right introimg">
            <div class="right-text">
                <p>Assalamualaikum Warahmatullahi Wabarakatuh اَلسَلامُ عَلَيْكُم وَرَحْمَةُ اَللهِ وَبَرَكاتُهُ‎ (Peace be upon you and God’s mercy and blessings). Welcome to Al Firdaous Islamic Open Academy. This portal is dedicated to students seeking Islamic Knowledge from all around the globe.</p>
            </div>
            <div class="cta-btns-introimg">
                <div class="intro-btns">
                    <a href="/courses" class="cta-download-btn">Learn More</a>
                    <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8" class="cta-enroll-btn">Enroll now</a>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="banner-container">
    <img src="/images/banner.png" alt="banner" class="banner-img">
</section>
<%- include ('partials/closingHeader') %>
<section class="learnmore-container" id="about">
    <div class="learnmore-text">
        <h2>Al Firdaous: اكاديمية الفردوس الإسلامية المفتوحة</h2>
        <p>Al Firdaous strives to teach both young and old the essence of Islam, 
            following the wisdom of the pious predecessors. 
            Excitingly, we offer an online program for both young and old, 
            breaking down distance barriers for knowledge.
            Our Qualified instructors lead classes covering Quran, Arabic Language, 
            Islamic Studies, Hadith, Adhkar (Rememberances), Qasas (Stories), and Tajweed.
            Our virtual lessons are crafted to be both lively and participatory, 
            showcasing live talks, insightful web sessions, and virtual classrooms. This setup fosters connections with fellow learners and ensures 
            individualized assistance from our skilled instructors. The program is also flexible, 
            empowering you to learn at your own speed from any where around the world.</p>
        <a href="/courses">Learn More</a>
    </div>
</section>
<section class="hadith-container">
    <div class="quran">
        <h1 style="text-align: right;">Our Motto</h1>
        <h2 style="text-align: right;">
            إن الَّذِينَ آمَنُوا وَعَمِلُوا الصَّالِحَاتِ كَانَتْ لَهُمْ جَنَّاتُ الْفِرْدَوْسِ نُزُلًا﴾
            <br/>
            <span style="display: block; text-align: right;">[ الكهف: 107]</span> 


        </h2>
        <p style="text-align: right;">
            Indeed, those who have believed and done righteous deeds - they will have the Gardens of Paradise (Al Firdaous) as a lodging Q18 V 107
        </p>
    </div>
    </section>
<section class="offer-containers" id="offer">
        <h2 class="offer-h2">What We Offer</h2>
        <section class="row">
            <section class="offer one">
                <img src="/images/quran-row.svg" alt="quran" width="40px">
                <h2>Authenticity</h2>
                <p>Our principles and moral values are derived from the Quran and the sunnah of the Prophet interpreted in alignment with the understanding of the companions.
                </p>
            </section>
            <section class="offer two">
                <img src="/images/pay.svg" alt="affordable" width="40px">
                <h2>Affordability</h2>
                <p>We provide a high valued service at an afordable fee.
                </p>
            </section>
        
        <section class="offer three">
            <img src="/images/care-row.svg" alt="care" width="40px">
            <h2>Care</h2>
            <p>We value each student as an individual and we hold them at a very high esteem and not just by their names.
                We also care for their well-being physically and emotionally both inside and outside of the classroom.
                </p>
        </section>
        <section class="offer three">
            <img src="/images/teacher.svg" alt="fun" width="40px">
            <h2>Professional</h2>
            <p>At Al Firdaous Our Tutors are professionals in different disciplines and they comprise of men and women of integrity who are computer literates.
                We maintain high standards to which we strictly adhere to.
                </p>
        </section>
        <section class="offer four">
            <img src="/images/secure-row.svg" alt="secure" width="40px">
            <h2>Safe</h2>
            <p>At Al Firdaous We provide a free and conducive atmosphere where student can easily express themselves without the fear of being judged or misinterpreted.
            </p>
        </section>
        <section class="offer five">
            <img src="/images/flexibility-row.svg" alt="flexibility" width="40px">
            <h2>Flexibility</h2>
            <p>Our schedules are based on individual availabilities. For Individual classes, students  are opportuned to select their preferred days, time and even their preferred platforms for classes delivery.
            </p>
        </section>
        <section class="offer six">
            <img src="/images/fun-row.svg" alt="fun" width="40px">
            <h2>Online live and interactive session</h2>
            <p>Communicate with our lecturers, network with your fellow learners and to participate in Q&A sessions through live interactive and engaging online sessions. Digital certificates will be awarded from the Academy upon successful completion of the courses to recognise your achievement.</p>
        </section>
        
</section>
</section>
<section class="hadith-container">
    <div class="hadith">
        <h2>
        
            عَنْ عُبَادَةَ بْنِ الصَّامِتِ أَنَّ رَسُولَ اللَّهِ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ قَالَ الْجَنَّةُ مِائَةُ دَرَجَةٍ مَا بَيْنَ كُلِّ دَرَجَتَيْنِ مِنْهُمَا كَمَا بَيْنَ السَّمَاءِ وَالْأَرْضِ الْفِرْدَوْسُ أَعْلَاهَا دَرَجَةً مِنْهَا تُفَجَّرُ أَنْهَارُ الْجَنَّةِ الْأَرْبَعَةُ وَمِنْ فَوْقِهَا يَكُونُ الْعَرْشُ وَإِذَا سَأَلْتُمْ اللَّهَ فَاسْأَلُوهُ الْفِرْدَوْسَ

            2531 سنن الترمذي أبواب صفة الجنة باب ما جاء في صفة درجات الجنة
            
        </h2> 
        <p>
            Ubadah ibn al-Samit reported: The Messenger of Allah, peace and blessings be upon him, said, “Paradise has one hundred levels, and between every two levels is a distance like that between the heavens and earth. Al-Firdaws is its highest level, from which four rivers of Paradise flow, and above is the Throne. When you want to ask Allah, ask him for Al-Firdaws.”
            
            Source: Sunan al-Tirmidhī 2531
            
            Grade: Sahih (authentic) according to Al-Albani
        </p>
    </div>
   
</section>
<section class="courses-container" id="courses-section">
    <section class="courses-mode">
        <span id="courses-span"> Our Programs are for Both Adults and Children</span>
        <h2 class="ourprogram">Group Classes</h2>
         <section class="programs">
            <section class="program">
                <div class="firstprogram-section">
   
                    <span id="program-title"><STROng>AHKI</STROng></span>
                    <h1>Beginner</h1>
                    <p style="font-family: Light; font-size: 0.875rem; text-align: center;">For kids( A Minimum of 5 students in each class)</p>
                </div>
               
                <div class="program-details">
                    <span class="program-price">$10<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>Arabic Literacy</li>
                            <li>Hadith</li>
                            <li>Khattu</li>
                            <li>Islamic studies</li>
                            <br>
                            
                        </ul>
                        <div class="time">
                            <p><strong>$100</strong> Annually. Duration: 10 Months</p>
                            <p>Thursday/Friday: 7:00PM GMT</p>
                            <p>Saturday and Sunday: 10:00AM GMT</p>
                           
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <span id="program-title"><STROng>QATHI</STROng></span>
                    <h1>Intermediate</h1>
                    <p style="font-family: Light; font-size: 0.875rem; text-align: center;">For kids( A Minimum of 5 students in each class)</p>
                </div>
              
                <div class="program-details">
                    <span class="program-price">$15<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>Quran</li>
                            <li>Arabic Language</li>
                            <li>Tahjweed</li>
                            <li>Hadith</li>
                            <li>Imlaa/Islamic studies</li>
                        </ul>
                        <div class="time">
                            <p><strong>$150</strong> Annually; Duration: 10 Months</p>
                            <p>Thursday/Friday: 7:00PM GMT</p>
                            <p>Saturday and Sunday: 10:00AM GMT</p>
                          
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <span id="program-title"><STROng>QANTTAH</STROng></span>
                    <h1>Advanced</h1>
                    <p style="font-family: Light; font-size: 0.875rem; text-align: center;">For kids( A Minimum of 5 students in each class)</p>
                </div>
                <div class="program-details">
                    <span class="program-price">$20<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>Quran</li>
                            <li>Aqeedah</li>
                            <li>Non vowelised Arabic words</li>
                            <li>Tafseer</li>
                            <li>Tajweed</li>
                            <li>Arabic Language</li>
                            <li>Hadith</li>
                        </ul>
                        <div class="time">
                            <p><strong>$200</strong> Annually; Duration: 10 Months</p>
                            <p>Thursday/Friday: 7:00PM GMT</p>
                            <p>Saturday and Sunday: 10:00AM GMT</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
    </section>
   
     </section>
     
</section>
<section class="courses-container" id="courses-section">
    <section class="courses-mode">
        <h2 class="ourprogram">Individual Classes</h2>
         <section class="programs">
            <section class="program">
                <div class="firstprogram-section">
                    <h1>QAAITH</h1>
                </div>
                <div class="program-details">
                    <span class="program-price">$60<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QUR'AN</li>
                            <li>ARABIC LITERACY</li>
                            <li>ADHKAR</li>
                            <li>ISLAMIC STUDIES</li>
                            <li>TAJWEED</li>
                            <li>HADITH</li>
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>      
                            <p><strong>4 Days Weekly</strong></p>
                            <p><strong>$600</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>QAAITH</h1>
                </div>
                <div class="program-details">
                    <span class="program-price">$50<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QUR'AN</li>
                            <li>ARABIC LITERACY</li>
                            <li>ADHKAR</li>
                            <li>ISLAMIC STUDIES</li>
                            <li>TAJWEED</li>
                            <li>HADITH</li>
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>3 Days Weekly</strong></p>
                            <p><strong>$500</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>QATI</h1>
                    </div>
                <div class="program-details">
                    <span class="program-price">$30<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QUR'AN</li>
                            <li>ADHKAR</li>
                            <li>TAJWEED</li>
                            <li>ISLAMIC STUDIES</li>
                            <br>
                            <br>
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>Weekend Classes</strong></p>
                            <p><strong>$300</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>HIFZ ONLY</h1>
                    </div>
                <div class="program-details">
                    <span class="program-price">$40<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QURAN</li>
                            <li>TAJWEED</li>
                            <li>ISLAMIC STUDIES</li>
                            <br>
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>4 times weekly</strong></p>
                            <p><strong>$400</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>HIFZ ONLY</h1>
                    </div>
                <div class="program-details">
                    <span class="program-price">$30<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QURAN</li>
                            <li>TAJWEED</li>
                            <li>ISLAMIC STUDIES</li>
                            <br>
                          
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>3 times weekly</strong></p>
                            <p><strong>$300</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
            <section class="program">
                <div class="firstprogram-section">
                    <h1>WEEKEND HIFZ</h1>
                    </div>
                <div class="program-details">
                    <span class="program-price">$25<sub id="month">/Month</sub></span>
                    <div class="program-det">
                        <ul>
                            <li>QURAN</li>
                            <li>TAJWEED</li>
                            <br>
                          
                        </ul>
                        <div class="time">
                            <p>10% discount for 2 students || 15% discount for 3 students from the same family</p>
                            <p><strong>3 times weekly</strong></p>
                            <p><strong>$250</strong> Annually; Duration: 10 Months</p>
                        </div>
                        <a href="https://forms.gle/BDYTRtgQpq7ccwLZ8">Pay Now</a>
                    </div>
                </div>
            </section>
   
    </section>
    
     </section>
     
</section>
<section class="note">
    <span id="courses-span-one">
        Note: The tajweed is slashed with Arabic Literacy for kids and the knowledge of tajweed for adults who already has an experience on how to recite the Quran.
        Student are also given the opportunity to select their preferred times ,days and even the social media platforms of their Choices for the delivery of the class.
    </span>
</section>
<section class="classmodes-container">
    <h2>Class Modes</h2>
    <section class="classmode">
        <section class="individual mode">
            <img src="/images/person.svg" alt="person" width="50px">
            <h1>Individual Classes</h1>
            <ul>
               <li>✓ Qualified tutors </li> 
                <li>✓ Flexible schedule(instead of timings)</li>
                <li>✓ More intensive and interactive</li>
                <li>✓ Full concentration</li>
                <li>✓ Monthly reports for learning progress</li>
                <li>✓ Examinations and test are conducted at intervals</li>
               <li>✓ Certificate upon completion</li>
            </ul>
        </section>
        <section class="group mode">
            <img src="/images/group.svg" alt="person" width="50px">
            <h1>Group Classes</h1>
            <ul>
             <li>✓ Intensive learning</li>
             <li>✓ Accountability partner</li>
             <li>✓ Fixed schedules</li>
             <li>✓ Interviews are conducted as a pre requisite for admission</li>
             <li>✓ Class groups is according to each person's level</li>
             <li>✓ Examinations, tests and Quizzes</li>
             <li>✓ Certificate upon completion</li>
            </ul>
        </section>
    </section>
</section>


<%- include ('partials/footer') %>
